<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="OrangeHRM BDD Test Suite" verbose="2" thread-count="1">
    <listeners>
        <listener class-name="listener.AllureAutoReportListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="com.orangehrm.runners.TestRunner" />
        </classes>
    </test>
</suite>

